.wrapper {
  display: flex;
  height: calc(100vh);

  & .menu-container {
    width: 300px;
    height: calc(100vh);
    overflow: auto;
    padding: 5px;
  }

  & .outlet-container {
    width: 100%;
    height: calc(100vh);
    overflow: auto;
  }
}
